// Heading Scale
heading-scale(1.2, 1, 0, -2, null, null)

// Heading Weight
h1
h2
h3
h4
h5
h6
  font-weight: 400

// Headings for nested sections
section > h1
  @extend h2
section > section > h1
  @extend h3
section > section > section > h1
  @extend h4
section > section > section > section > h1
  @extend h5
section > section > section > section > section > h1
  @extend h6

// Margins for nested sections. It is written this way to make it easier to add new contingent elements.
h1
header
  ~ section
    @extend $h2Margin