.scaffold
  @extends $grid
  &.secondary
    position fixed
    z-index -1
    top 0
    height 100%
    background url("/images/background2.png"), radial-gradient(50% 0%, circle farthest-side, saturate(blue, -50) 20%, gold)
    background-size cover

.scaffoldColumn
  &.primary
    X
  &.secondary
    width 0