.thread
  @extend $vertical-spacing

.threadCard
  @extend $skinGhost

.threadInfo
  @extend $grid
  border-spacing unit()

.threadInfoAuthor
  width 4em

.threadInfoMain
  vertical-align middle

.threadInfoMeta
  width 4em

.threadLeader
  x