<input name='first_name' placeholder='First Name'/>
<input name='last_name' placeholder='Last Name' />
<input name='email' placeholder='Email' />
<input name='password' type='password' placeholder='Password' />

<button>Save</button>