{{#if id}}
  <span data-bind='email'>{{ email }}</span>
  <a href='/me/edit'>Edit Profile</a>
  {{#if notifications}}
    <a href='#' class='notifications'>Turn off Desktop Notifications</a>
  {{else}}
    <a href='#' class='notifications'>Turn on Desktop Notifications</a>
  {{/if}}
{{/if}}