if id
  | user:
  span(data-bind='email')= email
  a(href='/me/edit') Edit Profile
  if notifications
    a.notifications(href='#') Turn off Desktop Notifications
  else
    a.notifications(href='#') Turn on Desktop Notifications