<ul>
  <li>
    <a class="header-link" href="/ideas">Ideas</a>
  </li>
  {{#if logged_in}}
    <li>
      <a href='/groups'>My Groups</a>
    </li>
    <li>
      <a href='/ideas/archives'>Archives</a>
    </li>
    <li>
      <a href='/logout'>Logout</a>
    </li>
  {{else}}
    <li>
      <a href='/login'>Login</a>
    </li>
    <li>
      <a href='/register'>Register</a>
    </li>
  {{/if}}
</ul>
