<div class="header-container" id="header-container"></div>
<div id='user_info'></div>

<div class="outer-page-container">
  <div id='alerts'></div>
  <div class="page-container" id="page-container">
  </div>
</div>
