<div class="scaffold">

  <div class="scaffoldColumn primary">
    <div class="contentWidth">

      <div id='flash_messages'></div>
      
      <header class="appBar">
        <div class="appBarCol" data-region="headerAction"></div>
        <div class="appBarCol brand">
          <img class="logo" src="/images/votio-logo.svg">
        </div>
        <div class="appBarCol settings" data-region="headerMenu"></div>
      </header>

      <main id="content-container" data-region="main"></main>

    </div>
  </div>

  <div class="scaffoldColumn secondary"></div>

</div>

<div class="scaffold secondary">
  <div class="scaffoldColumn primary"></div>
  <aside class="scaffoldColumn secondary" data-region="sidePane"></aside>
</div>
