button {
  -webkit-appearance: none !important;
  @extend %transition;
  @extend %rounded.extreme;
  @extend %verticalSpacing.double;
  @extend %border;
  font-family: inherit;
  font-size: 1em;
  font-weight: 200;
  width: 100%;
  padding: unit(0.35) unit(0.65);
  white-space: nowrap;
  background: $gray-light;
  &:before {
    font-family: 'icomoon';
    font-size: 0.7em;
    margin-right: unit(0.5);
  }
}

button.add {
  color: white;
  background: $blue;
  &:before { content: "+" }
  &:active { background: $blue-medium; }
}

button.vote {
  background: white;
  &:before { 
    content: '✓';
  }
  &:active { background: $gray }
  &.voted {
    color: $green-dark;
    background: $green;
    &:active { background: $green-light }
  }
}

button.ideate {
  color: $blue;
  background: none;
  border: none;
  padding: 0;
  width: auto;
  border-radius: 0;
  &:before { content: "⟳" }
  &:active { color: $blue-medium }
}

button.submit {
  color: white;
  background: $blue;
  &:active { background: $blue-medium; }
}