button {
  -webkit-appearance: none;
  @extend %transition;
  @extend %rounded.extreme;
  @extend %verticalSpacing.half;
  @extend %border;
  @extend h4;
  width: 100%;
  padding: unit(0.25) unit(0.5);
  color: $black;
  background: $gray-light;
}

button.add {
  background: $green;
  color: white;
  &:before {
    content: '+'
  }
}

button.vote {
  background: white;
  &:before { 
    content: '✓';
    margin-right: unit(0.25);
  }
  &:active { background: $gray }
  &.voted {
    background: $green;
    color: $green-dark;
    &:active { background: $green-medium }
  }
}
