.header {
  @extend .grid;
  > * {
    @extend .column;
    vertical-align: middle;
  }
  > * + * {
    padding-left: unit();
  }
}

.headerTitle {
  width: 100%;
}

.headerAction {
  white-space: nowrap;
}