// Idea Module
.idea {
  position: relative;

  // First Idea in List
  &:first-child {
    @extend %boxPrimary;
    z-index: 1;
  }
  
  // Any Idea following another
  & + .idea {
    border-top: 0;
    margin: 0 unit(0.5);
    @extend %boxSecondary;
  }

  // A new Idea
  &.edit {
    @extend %box.thick;
    @extend %shadow.inset.light;
    background: white;
  }

}

.ideaGrid {
  @extend .grid;
  border-spacing: unit();
  > * {
    @extend .column;
  }
}

.ideaAuthor {
  white-space: nowrap;
  line-height: 0;
  letter-spacing: 2.5rem;
} .idea:first-child .ideaAuthor { letter-spacing: 3rem }

.ideaInfo {
  width: 100%;
  vertical-align: middle;
}

  .ideaTitle {
    line-height: 1.2;
  }

  .ideaDescription {
    @extend %verticalSpacing.quarter;
    &:before {
      content: "“"
    }
    &:after {
      content: "”"
    }
  }

.ideaAction {
}