.idea {
  position: relative;
  &:first-child {
    @extend %boxPrimary;
    z-index: 1;
  }
  & + .idea {
    border-top: 0;
    margin: 0 unit(0.5);
    @extend %boxSecondary;
  }
}

.ideaGrid {
  @extend %grid;
  > * {
    @extend %box;
    @extend %column;
  }
}

.ideaInfo {
  width: 100%;
}

  .ideaTitle {
    line-height: 1.2;
  }

  .ideaDescription {
    @extend %verticalSpacing.half;
  }