.tooltip
  display inline-block
  position relative
  text-align center

  &:before
  &:after
    @extend $transition
    content ""
    opacity 0
    position absolute
    display block
    border-style solid
    bottom 2em
    left 50%
    transform translate(-50%, 50%)

  &:before
    @extend $shadow.light
    @extend $rounded
    white-space nowrap
    background white
    border-color white-medium
    content attr(data-tooltip)
    padding 0.25em 0.5em
    line-height 0.9
    height 1em
    border-width 1px
    margin 0 -1px 0 

  &:after
    width 0
    height 0
    margin-bottom -0.15em
    box-shadow 1px 1px white-medium 
    border-color transparent white white transparent !important
    border-width 0.25em
    z-index 1
    transform translate(-50%, 50%) rotate(45deg)

  &:hover
    &:before
    &:after
      opacity 1
      z-index 1
    &:before
      transform translate(-50%, 0)
    &:after
      transform translate(-50%, 0) rotate(45deg)

  &.avatar
    &:before
      top -2.25em
      font-size 0.875em