<div class='errors'></div>
<input name='email' placeholder='Email' />
<input name='password' placeholder='Password' type='password' />
<input name='password_confirmation' placeholder='Password Confirmation' type='password' />
<div class='profile'></div>
<fieldset class='notifications'></fieldset>
<button>Submit</button>