<div class='errors'></div>
<input name='email' placeholder='Email' autofocus />
<input name='password' placeholder='Password' type='password' />
<input name='password_confirmation' placeholder='Password Confirmation' type='password' />
<div class='profile'></div>
<button>Submit</button>