.errors
input(name='email', placeholder='Email')
input(name='password', placeholder='Password', type='password')
input(name='password_confirmation', placeholder='Password Confirmation', type='password')
.profile
fieldset.notifications
button Submit
