<h4>Email Notifications</h4>
<ul>
  <li>
    <input type='checkbox' name='idea_thread' />
    When I'm added to a new Idea Thread
  </li>
  <li>
    <input type='checkbox' name='idea' />
    When a new Idea is added to a Thread I'm participating in
  </li>
  <li>
    <input type='checkbox' name='vote' />
    When anyone votes on an Idea in an Idea Thread I'm participating in
  </li>
</ul>
<h4><input type='checkbox' name='sound' /> Browser Audio Notifications</h4>