<div class='input'>
  <label>{{label}}</label>
  <input class='tag-input' type='text' id='tags' placeholder='type to add' autocomplete="off"/>
  <div class='dropdown' region='auto-matches'></div>
  <div class='tag-list'></div>
</div>