<div class="collection">
  <div class="collectionHeader">
    <div class="collectionAction"><button class='add'>Add</button></div>
    <div class="collectionTitle"><h1>Ideas</h1></div>
  </div>
  <div class='collectionItems'>
    {{!-- ideas go here --}}
  </div>
</div>