<h1>
  <input name='title' placeholder="Topic" />
</h1>
{{#if id}}
  <a href="/ideas/{{id}}" class='permalink'>Permalink</a>
{{/if}}
<br/><br/>
{{#hasPermission user_id }}
  {{#if id}}
    <a href='#' class='archive'>ARCHIVE</a>
  {{/if}}
{{/hasPermission}}
{{ status }}
<div class='voters'></div>
<div class='ideas'></div>