<h1>
  <input data-bind='title' name='title' placeholder="Topic"  autofocus />
</h1>
<input class='text-expiration' placeholder='expires on...'>
<input type='hidden' name='expiration'/>
<small class='date-helper'></small>
{{#if id}}
  <a href="/ideas/{{id}}" class='permalink'>Permalink</a>
{{/if}}
<br/><br/>
{{#hasPermission user_id }}
  {{#if id}}
    <a href='#' class='archive'>ARCHIVE</a>
  {{/if}}
{{/hasPermission}}

<div class='voters'></div>

<div class='ideas'></div>