<a href='#' class='save-group'>Save as a group</a>

<form class='group-form'>
  <input class='group-name' placeholder='Group name' />
  <button>Save Group</button>
</form>

<div class='voting-rights'></div>

<a href='#' class='show-groups'>Add a Group</a>