{{ autocomplete_search }}
{{#hasPermission thread_user_id }}
  {{#unlessCurrentUser user_id }}
    <a href='#' class='remove'>remove</a>
  {{/unlessCurrentUser}}
{{else}}
  {{#hasPermission user_id }}
    <a href='#' class='remove'>remove myself</a>
  {{/hasPermission}}
{{/hasPermission}}
