img
  position relative
  @extend $transition
  display inline-block
  max-width 100%

img.avatar
  @extend $rounded.extreme
  width 3em
      
  &.small
    opacity 0.75
    width unit(1.5)
    &:hover
      @extend $shadow.light
      position relative
      z-index 1
      opacity 1
      transform scale(1.5)