<div class="collection">
  <div class="collectionHeader">
    <small><strong>Original idea:</strong> Lunch at Sylvia's</small>
  </div>
  <div class='collectionItems'>
    {{!-- ideas go here --}}
  </div>
  <a href="#" class='ideate'>Add a related idea</a>
</div>
