<div class='errors'></div>
<input name='title' class='mousetrap' placeholder='Idea' type='text' autofocus />
<input class='mousetrap natural-language' placeholder='When' type='datetime' />
<small class='when'></small>
<textarea name='description' class='mousetrap' placeholder='description' />