<div class="header">
  <div class="headerTitle"><h3>New Idea</h3></div>
  <div class="headerAction">
    <button class="flyout cancel">
      <div class="flyoutIcon"></div>
      <div class="flyoutTray">
        <div class="flyoutText"></div>
      </div>
    </button>
  </div>
</div>

<div class="errors"></div>
{{#if edited}}
  <p><strong>Warning:</strong> if you edit this idea, all votes on it will be lost.</p>
{{/if}}
<div class="formRow">
  <div class="formColumn">
    <div class="labelField">
      <div class="labelFieldLabel">
        <label>Idea:</label>
      </div>
      <div class="labelFieldInput">
        <input name="title" class="mousetrap" type="text" />
      </div>
    </div>
  </div>
  <div class="formColumn">
    <div class="labelField">
      <div class="labelFieldLabel">
        <label>When:</label>
      </div>
      <div class="labelFieldInput">
        <input class="mousetrap natural-language" type="datetime" />
        <small class="when"></small>
      </div>
    </div>
  </div>
</div>
<div class="formRow">
  <div class="formColumn">
    <div class="labelField">
      <div class="labelFieldLabel">
        <label>Describe:</label>
      </div>
      <div class="labelFieldInput">
        <input type="text" name="description" class="mousetrap" />
      </div>
    </div>
  </div>
</div>

<button class="submit">Submit</button>