<div class="ideaGrid">
  <div class="ideaAuthor">
    <img src="#" alt="">
  </div>
  <div class="ideaInfo">
    <h2 class="ideaTitle">{{ title }}{{#timely}}{{ when }}{{/timely}}</h2>
    {{#if description}}<p  class="ideaDescription">{{ description }}</p>{{/if}}
  </div>
  <div class="ideaAction">
    <button class='vote' data-bind='total_votes'>{{ total_votes }}</button>
    <div class="votes"></div>
    {{#hasPermission user.id}}
      <a href='#' class='destroy'>delete</a>
      <a class='edit' href='#'>edit</a>
    {{/hasPermission}}
  </div>
</div>
