.grid {
  display: table;
  width: 100%;
  &.fixed {
    @extend .grid;
    table-layout: fixed;
  }
}

.row {
  display: table-row;
  &.v-spaced {
    @extend .row;
    border-spacing: 0 unit();
  }
}

.column {
  display: table-cell;
  vertical-align: top;
  &.h-spaced {
    @extend .row;
    border-spacing: unit() 0;
  }
}