$black: #000;
  $color-contrast: 5;
  $black-light: lighten($black, $color-contrast);
  $black-dark: darken($black, $color-contrast);


$gray: #DDD;
  $color-contrast: 10;
  $gray-light: lighten($gray, $color-contrast);
  $gray-dark: darken($gray, $color-contrast);


$green: #B6E685;
  $color-contrast: 50;
  $green-light: lighten($green, $color-contrast);
  $green-medium: darken($green, $color-contrast/3);
  $green-dark: darken($green, $color-contrast);